---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/
.inner-content {
  max-width: 800px;
  margin: 0 auto;
}

#main {
  margin-top: 7rem;
  min-height: 500px;
}

html {
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, li, a.btn, span, i, input, textarea {
  font-family: $openSans;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
}

h1 {
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
}

p {
  font-family: $roboto;
  font-size: 1.3rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

a {
  color: $darkBlue;
  &:hover {
    color: $lightBlue;
    text-decoration: none;
  }
}

img {
  max-width: 100%;
}

//Blog page
.blog-title {
  font-size: 1.5rem;
  text-align: left;
}

.video-embed{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.video-embed iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

//Contact form
.form-control, .contact-form button {
  margin-bottom: 1rem;
}

nav {
  background-color: $white;
}

.navbar-text {
  margin-bottom: 0;
}

.hidden {
  display: none !important;
}

#header-cta {
  margin-left: 2rem;
}

#header-cta a {
  margin-left: 1rem;
  color: $white;
  background-color: $lightBlue;
  border-color: $lightBlue;
  &:hover {
    background-color: $darkBlue;
    border-color: $darkBlue;
  }
}

//Footer
.footer {
  background-color: $black;
  padding: 1rem 0;
  span {
    display: inline-block;
  }
}

.copyright {
  color: $gray;
  text-align: right;
  font-size: 1rem;
  margin: 0;
}
#footer-cta {
  text-align: center;
  color: $white;
  a {
    color: $black;
    background-color: $yellow;
    border-color: $yellow;
    &:hover {
      color: $yellow;
      background-color: $black;
      border-color: $yellow;
    }
  }
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
