---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/
.inner-content {
  max-width: 800px;
  margin: 0 auto;
}

#main {
  margin-top: 7rem;
  min-height: 500px;
}

html {
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, li, a.btn, span, i, input, textarea {
  font-family: $openSans;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
}

h1 {
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
}

p {
  font-family: $roboto;
  font-size: 1.3rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

a {
  color: $darkBlue;
  &:hover {
    color: $lightBlue;
    text-decoration: none;
  }
}

img {
  max-width: 100%;
}

//Home page
#index {
    margin-top: 3rem;
    max-width: 100%;
    padding: 0;
}

#hero {
  text-align: left;
}

#hero img {
  width: 100%;
  position: relative;
}

.hero-overlay {
  position: absolute;
  top: 14rem;
}

#hero h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: $black;
  font-weight: bold;
  text-align: left;
}

#hero h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}

#hero .col-7 {
  padding-right: 1rem;
}

#hero .email {
  width: 100%;
  margin-bottom: 0;
}

.posts {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

//Blog page
.blog-title {
  font-size: 1.5rem;
  text-align: left;
}

.video-embed{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.video-embed iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

//Contact form
.form-control, .contact-form button {
  margin-bottom: 1rem;
}

nav {
  background-color: $white;
}

.navbar-text {
  margin-bottom: 0;
}

.hidden {
  display: none !important;
}

#header-cta {
  margin-left: 2rem;
}

#header-cta a {
  margin-left: 1rem;
  color: $white;
  background-color: $lightBlue;
  border-color: $lightBlue;
  &:hover {
    background-color: $darkBlue;
    border-color: $darkBlue;
  }
}

//eBook offer
.ebook-offer {
  background-color: $darkGray;
  color: $white;
  text-align: center;
}

.ebook-offer #main {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.ebook-offer img {
  display: block;
  margin: 0 auto;
}

.ebook-offer h1 {
  text-transform: uppercase;
}

.ebook-offer h2 {
  font-size: 1.5rem;
  color: $lightBlue;
}

.ebook-offer ul {
  display: block;
  width: 350px;
  margin: 0 auto;
  text-align: left;
}

.ebook-offer li {
  color: $white;
  font-size: 1.25rem;
  line-height: 2rem;
}

.ebook-offer li i {
  margin-right: .5rem;
}

.ebook-offer .form-name {
  margin-top: 1rem;
}

.ebook-offer button {
  width: 100%;
  font-size: 1.5rem;
  border: none;
  background-color: $lightBlue;
  box-shadow: 0px 3px 0px 0px $darkBlue;
  &:hover {
    background-color: $lightBlue;
  }
}

.ebook-offer .privacy {
  color: $gray;
  margin-top: 1rem;
}

//Footer
.footer {
  background-color: $black;
  padding: 1rem 0;
  span {
    display: inline-block;
  }
}

.copyright {
  color: $gray;
  text-align: right;
  font-size: 1rem;
  margin: 0;
}
#footer-cta {
  text-align: center;
  color: $white;
  a {
    color: $black;
    background-color: $yellow;
    border-color: $yellow;
    &:hover {
      color: $yellow;
      background-color: $black;
      border-color: $yellow;
    }
  }
}

//Weakestlink

#link {
  margin-top: 5rem;
  background-color: #f5f5f5;
  h1, h2, h3, h4, h5, h6, p, span, th, tr, td {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }
}


#link header {
  background-color: #283e4a;
}

#link header img {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

#link section {
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
  margin-top: 1rem;
  background-color: $white;
  padding: 1rem;
}

#link #profile {
  margin-top: 2rem;
}

#link .profile-pic {
  width: 100%;
}

#link h1 {
  font-weight: bold;
  margin-bottom: .25rem;
  font-size: 1.75rem;
  text-align: left;
}

#link h2 {
  font-size: 1rem;
  margin-bottom: .25rem;
}

#link .industry {
  font-size: .8rem;
  line-height: 1rem;
  color: $darkGray;
}

#link table {
  font-size: .8rem;
}

#link th {
  padding: .5rem .5rem .5rem 0;
  color: $lightGray;
}

#link .no-connections {
  font-weight: bold;
  text-align: right;
}

#link .connections {
  font-size: .8rem;
  color: $lightGray;
}

#link #profile .col-2 {
  text-align: right;
}


// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
