---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/
.inner-content {
  max-width: 800px;
  margin: 0 auto;
}

#main {
  margin-top: 7rem;
}

html {
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, li, a.btn {
  font-family: $openSans;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
}

h1 {
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
}

p {
  font-family: $roboto;
  font-size: 1.3rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.video-embed iframe {
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
}

nav {
  background-color: #fff;
}

.navbar-text {
  margin-bottom: 0;
}

.hidden {
  display: none !important;
}

#header-cta {
  margin-left: 2rem;
}

#header-cta a {
  margin-left: 1rem;
  color: #fff;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
