<nav class="navbar fixed-top navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="{{ site.url }}">
      <img src="{{ site.url }}/{{ site.logo }}" width="150" height="50" alt="PyPros Logo" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="header-cta" class="hidden">
      <p class="navbar-text">Make Selenium easier with our free cheat sheet!</p>
      <a class="btn btn-primary btn-sm navbar-text">
        <i class="fa fa-cloud-download" aria-hidden="true"></i>
        <span>Get Cheat Sheet</span>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul id="nav-ul" class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link navbar-text" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-text" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-text" href="#">Blog</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
