
//
// VARIABLES
//

// Colors
$darkBlue: #4191ba;
$lightBlue: #31b1de;
$yellow: #ffde57;
// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$openSans: 'Open Sans', sans-serif;
$roboto: 'Roboto', sans-serif;
