---
layout: default
---
<div class="inner-content">
  <article class="post">
    <h1>{{ page.title }}</h1>
    {% if page.excerpt %}
      <p>{{ page.excerpt }}</p>
    {% endif %}  
    {% if page.youtube %}
      <div class="video-embed">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ page.youtube }}?rel=0&amp;showinfo=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
      </div>
    {% endif %}
    <div class="entry">
      {{ content }}
    </div>

    <div class="date">
      Written on {{ page.date | date: "%B %e, %Y" }}
    </div>

    {% include disqus.html %}
  </article>
</div>
